body {
    min-height: 100vh;
    margin:0;
    text-align: center;
    font-weight: normal;
    color: white;
    background-color: #00352F;
    user-select: none;
    font-size: 1vw;
}

h1{
    font-size: 3vw;
}

h2{
    font-size: 1.5vw;
}

h3{
    font-size: 1vw;
}

hr {
    border: none;
    border-top: 2px solid;
    margin: 0 5vw;
}

.view {
    min-height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* INTRO */

/* TIMELINE */

/* HOBBIES */

/* SOCIALS */
.socials-container{
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.socials-element {
    margin-right: 1.5vw;
}