.logo{
    height: 50px;
}

.contact_image{
    width: 25px;
    height: 25px;
}

.spotify{
    height: 100%;
    text-align: center;
    width: 80%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 1620px) {

    .spotify{
        height: 80%;
        text-align: center;
        width: 80%;
    }

}