.container-with-progressbar {
    display: flex;
    height: auto;
}

.progress-bar {
    width: 1px;
    background-color: white;
    position: relative;
    margin: 1rem 2rem;
}

.progress-indicator {
    width: 20px;
    height: 20px;
    border: 2px solid #bce519;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

@media (max-width: 900px) {

    .progress-bar{
        display: none;
    }

}