/* TEXT PALETTE:  WHITE, #a1a1a1, #858585*/

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    font-size: 0.6rem;
    font-weight: normal;
    color: white;
    background-color: #14110f;
}

.footer {
    font-family: Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: normal;
    color: #858585;
    padding: 0;
}

.body-index {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 27.5%;
    padding-right: 20px;
}

.index-content-container {
    margin-left: 27.5%; /* El ancho del header */
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    padding-left: 50px;
}

.header {
    width: 17.5rem;
    text-align: left;
    align-items: start;
}

.header-title {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
}

.header-subtitle {
    font-family: Helvetica, sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    color: #858585;
    margin: 0 0 25px 0;
    padding: 0;
    text-transform: uppercase;
}

.header-hr {
    border: none;
    border-top: 1px solid #858585;
    margin: 10px 0;
}

.header-link-row {
    display: flex;
    justify-content: space-between;
}

.header-link {
    font-family: Helvetica, sans-serif;
    font-size: 0.6rem;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.header-link:hover {
    color: #a1a1a1;
}

.text-link {
    color: white;
}

.text-link:hover {
    color: #a1a1a1;
}

.header-credits {
    font-family: Helvetica, sans-serif;
    font-size: 0.45rem;
    font-weight: normal;
    color: #858585;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
}

.index-content {
    margin: 0 50px 0 0;
}

.margin-bottom{
    margin-bottom: 40px;
}

.index-content-title {
    font-family: Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.index-content-subtitle {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.index-content-text {
    font-family: Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: normal;
    color: #858585;
    margin: 0;
    padding: 0;
}

.index-content-link {
    text-decoration: none;
}

.index-content-hr {
    border: none;
    border-top: 0.5rem solid white;
    margin: 0 50px 10px 0;
}

.index-content-photography-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.index-content-gallery-section {
    flex: 0 0 27.5vw;
    box-sizing: border-box;
}

.index-content-gallery-image {
    width: 25vw;
    margin: 0 0 20px 0;
    cursor: pointer;
    transition: 0.3s;
}

.index-content-gallery-image:hover {opacity: 0.8;}

.gallery-column {
    width: 25vw;
    padding: 0 20px 0 0;

    display: inline-block;
    vertical-align: top;
}

/* TABLETS */
@media screen and (max-width: 1100px) and (min-width: 851px){

    .header-container {
        width: 40%;
    }

    .index-content-container {
        margin-left: 40%; /* El ancho del header */
    }

    .index-content-photography-wrap {
        justify-content: left;
    }

    .index-content-gallery-section {
        flex: 0 0 100%;
    }

    .index-content-gallery-image {
        width: 50vw;
    }

    .gallery-column {
        width: 50vw;
        padding: 0 0 0 0;

        display: block;
        vertical-align: top;
    }

    #my-instagram-row{
        margin-top: 25px;
    }

}

/* SMARTPHONES */
@media screen and (max-width: 850px) {

    .body-index {
        display: block;
    }

    .header-container {
        position: static;
        height: min-content;
        overflow-y: visible;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .header {
        width: calc(100% - 50px);
        text-align: left;
        align-items: start;
        margin: 25px;
    }

    .index-content-container {
        height: min-content;
        overflow-y: visible;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .index-content {
        width: calc(100% - 50px);
        margin: 25px 25px 0 25px;
        padding-bottom: 25px;
    }

    .index-content-photography-wrap {
        justify-content: left;
    }

    .index-content-gallery-section {
        flex: 0 0 100%;
    }

    .index-content-gallery-image {
        width: 100%;
    }

    .gallery-column {
        width: 100%;
        padding: 0 0 0 0;

        display: block;
        vertical-align: top;
    }

    #my-instagram-row{
        margin-top: 25px;
    }

}