@import "body.css";
@import "timeline.css";

@font-face {
    font-family: 'F1 Regular';
    src: url('../fonts/Formula1-Regular.ttf');
}

@font-face {
    font-family: 'F1 Bold';
    src: url('../fonts/Formula1-Bold.ttf');
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    color: black;
    font-family: 'F1 Regular', sans-serif;
}

h1, h2, h3 {
    font-family: 'F1 Bold', sans-serif;
}




/* Estilos para pantallas grandes */
@media screen and (min-width: 1200px) {
    /* Aquí van los estilos para pantallas grandes */
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 600px) and (max-width: 1199px) {
    /* Aquí van los estilos para pantallas medianas */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 599px) {
    /* Aquí van los estilos para pantallas pequeñas */
}