h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    color: #fd3e2b;
}

hr{
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    display: inline-block;
}

ul.contact {
    list-style-type: none;
    padding-left: 20px; /* Edit padding */
    margin: 0; /* Remove margins */
}

li{
    text-align: left;
}

li.contact{
    margin-top: 12px;
    margin-bottom: 12px;
    user-select: text;
    display: flex;

}

a:link, a:visited{
    color: white;
}

p{
    line-height: 2;
}

.footer_small{display: none;}

@media (max-width: 1620px) {

    .footer_big{display: none}

    .footer_small{display: block}

}