.scroll-arrow {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emails-container{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.socials-container{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.socials-element {
    margin-right: 1.5rem;
}


.about-me-content{
    display: flex;
}

.about-me-element-small{
    width: 45%;
    margin: 0 2rem;
}

.about-me-element-big{
    width: 55%;
    margin: 0 2rem;
}


/* Style for small screens */
@media screen and (max-width: 799px) {
    .about-me-content{
        display: block;
    }

    .about-me-element-small{
        width: 100%;
        margin: 0;
    }

    .about-me-element-big{
        width: 100%;
        margin: 0;
    }
}

/* fonts sizes */
body {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

hr {
    border: none;
    border-top: 2px solid;
    margin: 0 5rem;
}

.socials-container{
    font-size: 3rem;
}

.scroll-arrow {
    font-size: 1.75rem;
}

/* Style for small screens */
@media screen and (max-width: 799px) {
    body {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }

    .socials-container{
        font-size: 2em;
    }
}