body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
    font-weight: normal;
}

h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

a:link, a:visited{
    color: black;
}

p{
    line-height: 1.75;
}

.main_content{
    margin-top: 0;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
}

.logo{
    height: 50px;
}

@media (max-width: 720px) {
    h1{
        font-size: 30px;
        margin-top: 20px;
    }

    .main_content{
        text-align: justify;
        font-size: 15px;
    }

    .logo{
        height: 30px;
    }
}