body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
}

h1{
    font-size: 50px;
    margin-top: 50px;
}

a:link{
    color: black;
}

a:visited{
    color: dimgrey;
}

p{
    line-height: 1.75;
}

@media (max-width: 720px) {
    h1{
        font-size: 30px;
        margin-top: 15px;
    }

}