body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
    font-weight: normal;
    margin: 0;
}


/* Styles for website counter container */
.website-counter, .counter-text {
    font-weight: bold;
    text-align: end;
    margin-right: 30px;
    margin-top: 10px;
}

h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

hr{
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

a:link, a:visited{
    color: black;
}

p{
    line-height: 1.75;
}

ul{
    display: inline-block;
}


.main_content{
    margin-top: 0;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    font-size: 17px;
}

.socials{
    padding-left: 35%;
    text-align: left;
}

.logo{
    height: 50px;
}

.mybanner{
    margin: 0;
    padding: 0;
    width: 100%;
}

.socials_img{
    height: 25px;
}

@media (max-width: 720px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Styles for website counter container */
    .website-counter, .counter-text {
        margin-right: 5px;
    }

    h1{
        font-size: 30px;
        margin-top: 20px;
    }

    hr{
        margin-top: 50px;
        margin-bottom: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_content{
        text-align: left;
        font-size: 15px;
    }

    .logo{
        height: 30px;
    }

    .socials{
        padding-left: 0;
        text-align: left;
    }

    .end_quote{
        text-align: center;
    }
}